[respond]
[include chopper_tune.cfg]
[include shell_command.cfg]
#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[mcu]
serial:/dev/serial/by-id/usb-Klipper_stm32h723xx_0D0021000C51313236343430-if00   #/dev/serial/by-id/usb-Klipper_stm32f429xx_1E002F000550524B57333320-if00  
restart_method: command

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6626005A7348435-if00
restart_method: command
##--------------------------------------------------------------------

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_1EF029C5515137474C202020FF0C0627-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: -20 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
speed: 5.
#   Z probing dive speed.
lift_speed: 5.
#   Z probing lift speed.
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
[bed_mesh]
speed: 600
horizontal_move_z: 5
mesh_min: 50, 50
mesh_max: 290,290
fade_start: 0.6
fade_end: 10.0
probe_count: 20,20
algorithm: bicubic
#relative_reference_index: 12


[printer]
kinematics: corexy
max_velocity: 400  
max_accel:50000  #6800           
max_z_velocity: 30    #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 300
max_accel_to_decel: 4000
square_corner_velocity: 7.0

[force_move]
enable_force_move: true

[auto_speed]
axis: diag_x, diag_y  ; One or multiple of `x`, `y`, `diag_x`, `diag_y`, `z`

margin: 100            ; How far away from your axes to perform movements

#settling_home: 1      ; Perform settling home before starting Auto Speed
max_missed: 30.0       ; Maximum full steps that can be missed
endstop_samples: 3    ; How many endstop samples to take for endstop variance

accel_min: 1000.0     ; Minimum acceleration test may try
accel_max: 50000.0    ; Maximum acceleration test may try
accel_accu: 0.05      ; Keep binary searching until the result is within this percentage

velocity_min: 50.0    ; Minimum velocity test may try
velocity_max: 5000.0  ; Maximum velocity test may try
velocity_accu: 0.05   ; Keep binary searching until the result is within this percentage

#derate: 0.8           ; Derate discovered results by this amount

#validate_margin: Unset      ; Margin for VALIDATE, Defaults to margin
#validate_inner_margin: 20.0 ; Margin for VALIDATE inner pattern
#validate_iterations: 50     ; Perform VALIDATE pattern this many times

#results_dir: ~/printer_data/config ; Destination directory for graphs

[exclude_object]
[include mainsail.cfg]
[include Bedfans.cfg]
[include Nozzle_scrub.cfg]
[include Macros.cfg]
[include KAMP_Settings.cfg]
[include stealthburner_led_effects_barf.cfg]
[include K-ShakeTune/*.cfg]
[include Autotune.cfg]
[include homing.cfg]
[include motors_sync.cfg]

#[safe_z_home] 
#home_xy_position: 175,175
#speed:50
#z_hop:10

[input_shaper]
shaper_freq_x: 84.0 # center frequency for the X axis filter
shaper_type_x: 2hump_ei # filter type for the X axis
shaper_freq_y: 60.6 # center frequency for the Y axis filter
shaper_type_y: ei # filter type for the Y axis
damping_ratio_x: 0.079 # damping ratio for the X axis
damping_ratio_y: 0.064 # damping ratio for the Y axis

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin:PF13
dir_pin:PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  
endstop_pin: nhk:gpio13   #tmc5160_stepper_x:virtual_endstop # pin PG6
position_endstop: 350
position_max: 350
homing_speed: 80   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[stepper_x1]
step_pin:PE2
dir_pin:!PE3
enable_pin:!PD4
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  
#endstop_pin: tmc5160_stepper_x1:virtual_endstop # pin PG6


[tmc5160 stepper_x]
cs_pin:PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG6
interpolate: true
run_current: 2.1
#driver_TBL:1
#driver_TOFF:3
#driver_hstrt:7
#driver_HEND:3
#driver_tpfd:2
#sense_resistor: 1.2
#stealthchop_threshold: 0.1
#driver_SGT:4

[tmc5160 stepper_x1]
cs_pin:PE1
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG14
interpolate: true
run_current: 2.1
#driver_TBL:1
#driver_TOFF:3
#driver_HEND:3
#driver_tpfd:2
#sense_resistor: 1.2
#stealthchop_threshold: 0.1
#driver_SGT:5

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop # pin PG9
position_min: -1
position_endstop: 350
position_max: 350
homing_speed: 90  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[stepper_y1]
step_pin: PE6
dir_pin:!PA14
enable_pin:!PE0
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop # pin PG9

[tmc5160 stepper_y]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG9
interpolate: true
run_current: 2.1
#driver_TBL:1
#driver_TOFF:3
#driver_HEND:3
#driver_tpfd:2
#sense_resistor: 1.2
#stealthchop_threshold: 0.1
#driver_SGT: 1

[tmc5160 stepper_y1]
cs_pin: PD3
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG15
interpolate: true
run_current: 2.1
#driver_TBL:1
#driver_TOFF:3
#driver_HEND:3
#driver_tpfd:2
#sense_resistor: 1.2
#stealthchop_threshold: 0.1
#driver_SGT: 5
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128
endstop_pin: probe:z_virtual_endstop
#endstop_pin: PG10
#position_endstop: 0
##--------------------------------------------------------------------
position_max: 330

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0
 
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin:PG4
dir_pin:!PC1
enable_pin:!PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z1]
uart_pin:PC7
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

[tmc2209 extruder]
#uart_pin: can0:PB5 slysht42
tx_pin: nhk:gpio1  #can0:PA9
uart_pin: nhk:gpio0  #sb2040v2:gpio8
run_current: 0.60
sense_resistor: 0.100
stealthchop_threshold: 0
interpolate: false

[extruder]
step_pin: nhk:gpio23  #sb2040v2:gpio9
dir_pin: nhk:gpio24  #sb2040v2:gpio10
enable_pin: !nhk:gpio25  #!sb2040v2:gpio7
rotation_distance: 47.088   #22.6789511  #25.577   #Bondtech 5mm Drive Gears
gear_ratio: 9:1  #50:10               #BMG Gear Ratio
microsteps: 16
#full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_cross_section: 5
heater_pin: nhk:gpio9  #can0:PA8 flysht42
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200 
sensor_pin: nhk:gpio29
min_temp: -270
max_temp: 350
max_power: 1.0
min_extrude_temp: 0
pressure_advance: 0.024
pressure_advance_smooth_time: 0.01
#max_extrude_only_distance: 101
#control = pid
#pid_kp = 29.495
#pid_ki = 3.121
#pid_kd = 69.685

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]

heater_pin: PA3
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################

    
#####################################################################
#   Fan Control
#####################################################################

## HOT END FAN
[heater_fan hotend_fan]
#pin: can0:PB11 flysht42
pin: nhk:gpio5  #sb2040v2:gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed: 1

## PART COOLING
[fan]
#pin: can0:PB10 flysht42
pin: nhk:gpio6  #sb2040v2:gpio13
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

[fan_generic Toolhead_fan]
pin: nhk:gpio10 #sb2040v2:gpio15
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1


#[fan_generic Electroncis_fan3]
[controller_fan controller_fan2]
##  Controller fan - FAN2
pin: PD12
max_power: .5
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PD13
max_power: .5
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1
#heater: heater_bed

[fan_generic Nevermore_fan]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1

[controller_fan controller_fan5]  TMC fan
pin: PD15
shutdown_speed: 1.0
cycle_time: 0.04
kick_start_time: 0.5
fan_speed: 0.9
idle_speed: 0.4

[temperature_sensor Chamber_sensor]
sensor_type: Generic 3950
#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"
sensor_pin: PF7
#   Analog input pin connected to the thermistor. This parameter must
#   be provided.
pullup_resistor: 4700
#   The resistance (in ohms) of the pullup attached to the thermistor.
#   The default is 4700 ohms.
inline_resistor: 0
#   The resistance (in ohms) of an extra (not heat varying) resistor
#   that is placed inline with the thermistor. It is rare to set this.
#   The default is 0 ohms.


#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PB0
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800



[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
##  Probe points
points:
   50,50
   50,275
   300,275
   300,50

#--------------------------------------------------------------------
speed:400    #175
horizontal_move_z: 5
retries: 5
retry_tolerance: 0.009
max_adjust: 10

#####################################################################

[adxl345]
cs_pin: nhk:gpio21  #sb2040v2:gpio1
spi_software_sclk_pin: nhk:gpio18  #sb2040v2:gpio0
spi_software_mosi_pin: nhk:gpio20  #sb2040v2:gpio3
spi_software_miso_pin: nhk:gpio19  #sb2040v2:gpio2
axes_map: -z,-y,-x

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20  # an example for a 350mm printer

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


#####################################################################
#   Thermistors
# #####################################################################
## External Chamber Thermistor Port
#[temperature_sensor chamber_temp]
#sensor_type: Generic 3950
#sensor_pin: nhk:gpio28
#min_temp: 0
#max_temp: 100
#gcode_id: chamber_th

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor nh_temp]
## Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nhk:gpio26
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: chamber_th

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.7567213129787949,
#*# 	2.06409398551493,
#*# 	0.6708968643513943,
#*# 	0.2959500271653327,
#*# 	0.20104551539495663,
#*# 	-0.0700245099174637,
#*# 	-0.11756752995182113,
#*# 	0.2201259592452717,
#*# 	0.09407678414517383,
#*# 	-0.10257589118009422
#*# model_domain = 3.3185897563418415e-07,3.3481911029866517e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 41.335377
#*# model_offset = -0.12000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.032516, -0.033707, -0.031579, -0.013476, 0.003381, 0.026295, 0.034935, 0.030157, 0.016576, 0.025803, 0.031244, 0.045645, 0.049736, 0.061362, 0.059693, 0.045312, 0.034107, 0.022472, -0.007206, -0.014915
#*# 	  -0.064815, -0.039888, -0.020126, -0.012536, -0.002542, 0.019847, 0.021278, 0.011472, 0.028528, 0.027279, 0.034074, 0.037778, 0.044729, 0.042400, 0.037516, 0.031723, 0.018836, -0.000593, -0.007829, -0.022336
#*# 	  -0.077027, -0.063492, -0.034682, -0.026509, -0.017059, -0.009178, -0.000643, 0.006503, 0.021355, 0.031429, 0.031825, 0.020740, 0.027348, 0.020685, 0.030158, 0.014794, -0.000360, -0.018168, -0.030032, -0.042136
#*# 	  -0.078800, -0.056887, -0.052599, -0.045875, -0.044651, -0.028433, -0.011495, 0.007905, 0.022263, 0.023697, 0.026234, 0.028940, 0.027395, 0.021136, 0.015908, 0.007271, -0.007829, -0.023228, -0.024362, -0.038381
#*# 	  -0.074001, -0.069628, -0.057275, -0.058957, -0.043785, -0.012541, 0.014765, 0.012157, 0.003450, 0.017189, 0.032790, 0.046724, 0.042773, 0.023260, 0.000053, 0.010116, -0.008138, -0.023647, -0.032058, -0.043494
#*# 	  -0.081029, -0.066154, -0.057119, -0.049875, -0.028470, -0.010445, 0.001110, 0.002683, 0.016833, 0.029344, 0.045947, 0.044836, 0.048092, 0.045144, 0.012293, 0.022234, 0.010333, -0.018696, -0.036258, -0.046436
#*# 	  -0.062938, -0.041248, -0.034106, -0.036486, -0.032135, -0.024396, 0.000102, 0.010167, 0.023412, 0.033164, 0.046695, 0.051640, 0.022450, 0.016913, 0.014477, 0.006544, -0.003398, -0.017430, -0.037591, -0.067886
#*# 	  -0.062290, -0.048908, -0.035999, -0.036666, -0.034115, -0.022218, -0.002732, 0.012788, 0.037916, 0.042529, 0.022637, 0.031067, 0.033019, 0.013161, 0.008255, 0.009239, -0.002395, -0.016057, -0.037889, -0.048979
#*# 	  -0.066666, -0.058257, -0.049290, -0.039211, -0.035797, -0.010871, 0.005519, 0.019755, 0.033434, 0.037166, 0.020520, 0.017405, 0.019628, 0.020273, 0.011444, 0.005853, -0.011606, -0.031733, -0.057725, -0.069311
#*# 	  -0.060221, -0.054253, -0.039401, -0.026562, -0.031809, -0.020070, -0.001677, 0.008977, 0.014939, 0.010663, 0.009214, 0.017802, 0.020959, 0.021791, 0.013048, 0.009765, -0.008945, -0.042199, -0.057442, -0.065220
#*# 	  -0.051754, -0.039304, -0.027648, -0.019466, -0.025728, -0.010963, 0.005762, 0.022053, 0.024541, 0.030732, 0.022912, 0.022640, 0.022329, 0.016105, 0.010238, 0.008665, -0.009928, -0.036324, -0.051430, -0.058191
#*# 	  -0.045066, -0.035228, -0.021781, -0.016182, -0.021988, -0.003781, 0.012758, 0.020009, 0.028586, 0.039757, 0.041245, 0.042540, 0.034327, 0.025106, 0.016672, 0.011227, -0.004442, -0.025068, -0.043559, -0.050982
#*# 	  -0.037768, -0.025748, -0.014065, -0.016350, -0.012315, 0.010811, 0.015288, 0.030826, 0.038683, 0.049245, 0.059519, 0.061142, 0.049553, 0.042084, 0.038226, 0.026493, 0.007184, -0.008803, -0.028843, -0.037849
#*# 	  -0.032554, -0.020897, -0.013440, -0.020806, -0.011922, 0.011112, 0.020600, 0.034044, 0.046944, 0.053275, 0.056904, 0.059230, 0.059014, 0.057663, 0.046217, 0.038336, 0.023755, -0.001305, -0.016449, -0.025421
#*# 	  -0.025370, -0.017078, -0.013964, -0.013471, 0.003549, 0.025200, 0.030899, 0.046314, 0.052702, 0.057884, 0.059567, 0.060488, 0.058788, 0.062630, 0.053698, 0.046324, 0.035648, 0.015928, 0.001786, -0.011018
#*# 	  -0.022079, -0.013293, 0.002186, -0.002480, 0.014105, 0.025045, 0.037348, 0.049267, 0.050678, 0.052003, 0.054616, 0.056630, 0.055952, 0.058285, 0.048244, 0.041010, 0.032932, 0.014344, 0.004496, -0.011589
#*# 	  -0.012756, -0.004088, 0.004228, 0.010651, 0.019475, 0.034639, 0.047070, 0.053323, 0.057541, 0.058649, 0.057630, 0.059110, 0.056392, 0.055263, 0.051628, 0.045129, 0.034727, 0.020530, 0.005456, -0.011281
#*# 	  0.001111, 0.012049, 0.010895, 0.022048, 0.029506, 0.045418, 0.056071, 0.063184, 0.067511, 0.070920, 0.069544, 0.067856, 0.063466, 0.063593, 0.057506, 0.050614, 0.041925, 0.023764, 0.007198, -0.008880
#*# 	  -0.062541, -0.058636, -0.054854, -0.047046, -0.036765, -0.041180, -0.019892, -0.009200, -0.004511, -0.004914, -0.005552, -0.004398, -0.004974, -0.004420, -0.007597, -0.016590, -0.031267, -0.059504, -0.068204, -0.082922
#*# 	  -2.969405, -2.973564, -2.937703, -2.907144, -2.960627, 0.000000, -2.962739, -2.886435, -2.881689, -2.886110, -2.875543, -2.872510, -2.865839, -2.873250, -2.864337, -2.879716, -2.932425, 0.000000, -2.933636, -2.931079
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 290.0
#*# min_y = 50.0
#*# max_y = 290.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 41.933
#*# pid_ki = 12.154
#*# pid_kd = 36.170
