[include shell_command.cfg]
#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[mcu]
serial:/dev/serial/by-id/usb-Klipper_stm32h723xx_0D0021000C51313236343430-if00   #/dev/serial/by-id/usb-Klipper_stm32f429xx_1E002F000550524B57333320-if00  
restart_method: command

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6626005A7348435-if00
restart_method: command
##--------------------------------------------------------------------

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_1EF029C5515137474C202020FF0C0627-if00
x_offset: -20 # update with offset from nozzle on your machine
y_offset: 0 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
speed: 5.
#   Z probing dive speed.
lift_speed: 5.
#   Z probing lift speed.
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
[bed_mesh]
speed: 600
horizontal_move_z: 5
mesh_min: 50, 50
mesh_max: 290,290
fade_start: 0.6
fade_end: 10.0
probe_count: 20,20
algorithm: bicubic
#relative_reference_index: 12


[printer]
kinematics: corexy
max_velocity: 400  
max_accel:40000           
max_z_velocity: 30    #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 300
max_accel_to_decel: 4000
square_corner_velocity: 10.0

[force_move]
enable_force_move: true

[auto_speed]
max_missed: 20.0       ; Maximum full steps that can be missed
settling_home: 1

[exclude_object]
[include mainsail.cfg]
[include Bedfans.cfg]
[include Nozzle_scrub.cfg]
[include Macros.cfg]
[include KAMP_Settings.cfg]
[include stealthburner_led_effects_barf.cfg]
[include K-ShakeTune/*.cfg]
[include Autotune.cfg]
[include homing.cfg]


#[safe_z_home] 
#home_xy_position: 175,175
#speed:50
#z_hop:10

[input_shaper]
shaper_freq_x: 97.6 # center frequency for the X axis filter
shaper_type_x: 2hump_ei # filter type for the X axis
shaper_freq_y: 59.6 # center frequency for the Y axis filter
shaper_type_y: ei # filter type for the Y axis
damping_ratio_x: 0.036 # damping ratio for the X axis
damping_ratio_y: 0.047 # damping ratio for the Y axis

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin:PF13
dir_pin:PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  
endstop_pin: tmc5160_stepper_x:virtual_endstop # pin PG6
position_endstop: 350
position_max: 350
homing_speed: 40   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[stepper_x1]
step_pin:PE2
dir_pin:PE3
enable_pin:!PD4
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  
endstop_pin: tmc5160_stepper_x1:virtual_endstop # pin PG6


[tmc5160 stepper_x]
cs_pin:PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG6
interpolate: false
run_current: 1.5
driver_TBL:0
driver_TOFF:4
driver_HEND:0
driver_HSTRT:4
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT:3

[tmc5160 stepper_x1]
cs_pin:PE1
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG14
interpolate: false
run_current: 1.5
driver_TBL:0
driver_TOFF:4
driver_HEND:0
driver_HSTRT:4
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT:3

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop # pin PG9
position_min: -1
position_endstop: 350
position_max: 350
homing_speed: 50  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[stepper_y1]
step_pin: PE6
dir_pin: PA14
enable_pin:!PE0
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop # pin PG9

[tmc5160 stepper_y]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG9
interpolate: false
run_current: 1.5
driver_TBL:0
driver_TOFF:4
driver_HEND:0
driver_HSTRT:4
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT: 3

[tmc5160 stepper_y1]
cs_pin: PD3
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG15
interpolate: false
run_current: 1.5
driver_TBL:0
driver_TOFF:4
driver_HEND:0
driver_HSTRT:4
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT: 3
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128
endstop_pin: probe:z_virtual_endstop
#endstop_pin: PG10
#position_endstop: 0
##--------------------------------------------------------------------
position_max: 330

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0
 
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin:PG4
dir_pin:!PC1
enable_pin:!PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z1]
uart_pin:PC7
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

[tmc2209 extruder]
#uart_pin: can0:PB5 slysht42
tx_pin: nhk:gpio1  #can0:PA9
uart_pin: nhk:gpio0  #sb2040v2:gpio8
run_current: 0.60
sense_resistor: 0.100
stealthchop_threshold: 0
interpolate: false

[extruder]
step_pin: nhk:gpio23  #sb2040v2:gpio9
dir_pin: nhk:gpio24  #sb2040v2:gpio10
enable_pin: !nhk:gpio25  #!sb2040v2:gpio7
rotation_distance: 47.088   #22.6789511  #25.577   #Bondtech 5mm Drive Gears
gear_ratio: 9:1  #50:10               #BMG Gear Ratio
microsteps: 16
#full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.600
filament_diameter: 1.75
max_extrude_cross_section: 5
heater_pin: nhk:gpio9  #can0:PA8 flysht42
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200 
sensor_pin: nhk:gpio29
min_temp: -270
max_temp: 350
max_power: 1.0
min_extrude_temp: 40
pressure_advance: 0.03
pressure_advance_smooth_time: 0.05
#max_extrude_only_distance: 101
control = pid
pid_kp = 29.495
pid_ki = 3.121
pid_kd = 69.685

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]

heater_pin: PA3
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################

    
#####################################################################
#   Fan Control
#####################################################################

## HOT END FAN
[heater_fan hotend_fan]
#pin: can0:PB11 flysht42
pin: nhk:gpio5  #sb2040v2:gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed: 1

## PART COOLING
[fan]
#pin: can0:PB10 flysht42
pin: nhk:gpio6  #sb2040v2:gpio13
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

[fan_generic Toolhead_fan]
pin: nhk:gpio10 #sb2040v2:gpio15
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1


#[fan_generic Electroncis_fan3]
[controller_fan controller_fan2]
##  Controller fan - FAN2
pin: PD12
max_power: .5
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PD13
max_power: .5
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1
#heater: heater_bed

[fan_generic Nevermore_fan]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1

[controller_fan controller_fan5]  TMC fan
pin: PD15
shutdown_speed: 1.0
cycle_time: 0.04
kick_start_time: 0.5
fan_speed: 0.9
idle_speed: 0.4

[temperature_sensor Chamber_sensor]
sensor_type: Generic 3950
#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"
sensor_pin: PF7
#   Analog input pin connected to the thermistor. This parameter must
#   be provided.
pullup_resistor: 4700
#   The resistance (in ohms) of the pullup attached to the thermistor.
#   The default is 4700 ohms.
inline_resistor: 0
#   The resistance (in ohms) of an extra (not heat varying) resistor
#   that is placed inline with the thermistor. It is rare to set this.
#   The default is 0 ohms.


#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PB0
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800



[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
##  Probe points
points:
   50,50
   50,275
   300,275
   300,50

#--------------------------------------------------------------------
speed: 175
horizontal_move_z: 6
retries: 5
retry_tolerance: 0.009
max_adjust: 10

#####################################################################

[adxl345]
cs_pin: nhk:gpio21  #sb2040v2:gpio1
spi_software_sclk_pin: nhk:gpio18  #sb2040v2:gpio0
spi_software_mosi_pin: nhk:gpio20  #sb2040v2:gpio3
spi_software_miso_pin: nhk:gpio19  #sb2040v2:gpio2
axes_map: -z,-y,-x

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20  # an example for a 350mm printer

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


#####################################################################
#   Thermistors
# #####################################################################
## External Chamber Thermistor Port
#[temperature_sensor chamber_temp]
#sensor_type: Generic 3950
#sensor_pin: nhk:gpio28
#min_temp: 0
#max_temp: 100
#gcode_id: chamber_th

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor nh_temp]
## Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nhk:gpio26
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: chamber_th

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.5107284758067068,
#*# 	1.8485535843098349,
#*# 	0.7387111130567974,
#*# 	0.28613729064091387,
#*# 	0.38735889878953383,
#*# 	0.4412534040976776,
#*# 	-0.2863322972245603,
#*# 	-0.39228614345401946,
#*# 	0.24990334384856866,
#*# 	0.21842610329631346
#*# model_domain = 3.221255868894174e-07,3.3325753258172667e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 29.729450
#*# model_offset = -0.57000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.035255, -0.023662, -0.028848, -0.017286, 0.004909, 0.023889, 0.032622, 0.042988, 0.051164, 0.055228, 0.054866, 0.055714, 0.054340, 0.049065, 0.038537, 0.024206, 0.007583, -0.017972, -0.036046, -0.062228
#*# 	-0.047204, -0.038287, -0.046612, -0.014219, 0.002176, 0.016324, 0.027459, 0.034839, 0.045304, 0.047125, 0.048515, 0.048216, 0.044416, 0.035931, 0.030314, 0.014334, 0.000639, -0.020822, -0.041189, -0.074247
#*# 	-0.058758, -0.052003, -0.028663, -0.010340, 0.001236, 0.014680, 0.034470, 0.037944, 0.042292, 0.051558, 0.055919, 0.050800, 0.044255, 0.036620, 0.028111, 0.017379, 0.002848, -0.015878, -0.038853, -0.077889
#*# 	-0.074259, -0.055823, -0.028375, -0.012434, -0.005495, 0.010431, 0.022659, 0.030540, 0.039388, 0.043758, 0.045995, 0.046139, 0.040771, 0.032262, 0.022855, 0.011706, -0.004613, -0.015204, -0.040978, -0.075104
#*# 	-0.086238, -0.059124, -0.037320, -0.026040, -0.015797, -0.001567, 0.010613, 0.017563, 0.023740, 0.028532, 0.029336, 0.032377, 0.026818, 0.020969, 0.005536, -0.016914, -0.025381, -0.025019, -0.055703, -0.086922
#*# 	-0.086537, -0.059260, -0.044908, -0.034455, -0.023344, -0.007006, 0.002483, 0.007823, 0.011756, 0.017839, 0.019693, 0.020548, 0.020458, 0.015888, 0.004402, -0.007187, -0.016142, -0.028951, -0.059019, -0.075892
#*# 	-0.070015, -0.057476, -0.042981, -0.032544, -0.023448, -0.008838, 0.003731, 0.007312, 0.011235, 0.019773, 0.019940, 0.021573, 0.023042, 0.021003, 0.018303, 0.006706, -0.009420, -0.027598, -0.050188, -0.075244
#*# 	-0.077473, -0.061877, -0.041298, -0.031461, -0.034427, -0.035932, -0.012563, 0.004583, 0.006974, 0.009430, 0.015767, 0.020179, 0.016299, 0.012537, 0.010344, 0.003258, -0.020801, -0.029698, -0.052248, -0.067020
#*# 	-0.080824, -0.063384, -0.041751, -0.041643, -0.023032, -0.026979, -0.004981, -0.006047, 0.007493, 0.002802, 0.018012, 0.018502, 0.016677, 0.012930, 0.012284, 0.003718, -0.012467, -0.028738, -0.044240, -0.067570
#*# 	-0.066344, -0.056916, -0.036426, -0.031492, -0.014823, -0.012337, -0.009309, -0.010267, -0.007455, -0.006922, 0.020119, 0.025823, 0.023988, 0.021241, 0.019316, 0.010120, -0.003665, -0.018725, -0.038138, -0.059700
#*# 	-0.069616, -0.052794, -0.033068, -0.026373, -0.009572, -0.014608, -0.006360, -0.002997, -0.003784, 0.004613, 0.018569, 0.021533, 0.020709, 0.018465, 0.012512, 0.001653, -0.013298, -0.026573, -0.041467, -0.064579
#*# 	-0.087298, -0.062236, -0.041511, -0.037544, -0.015991, -0.017636, -0.007854, -0.001754, 0.001853, 0.017390, 0.018125, 0.021515, 0.020572, 0.016932, 0.008668, -0.004285, -0.018677, -0.030920, -0.047149, -0.066570
#*# 	-0.082869, -0.057609, -0.044702, -0.047231, -0.024688, -0.025883, -0.016717, -0.010543, -0.007677, 0.009161, 0.016231, 0.022804, 0.019209, 0.015341, 0.008630, -0.005569, -0.015366, -0.029538, -0.044214, -0.061077
#*# 	-0.080482, -0.059672, -0.042053, -0.044858, -0.028836, -0.026026, -0.006306, 0.001992, 0.004134, 0.016590, 0.018477, 0.021839, 0.019264, 0.011936, 0.007073, -0.003200, -0.013464, -0.030676, -0.047473, -0.044969
#*# 	-0.072159, -0.049201, -0.036402, -0.040031, -0.021874, -0.014610, 0.006585, 0.015759, 0.027125, 0.032834, 0.030288, 0.029046, 0.023194, 0.014762, 0.008862, 0.002540, -0.008969, -0.024955, -0.045809, -0.067044
#*# 	-0.081956, -0.056124, -0.047628, -0.045776, -0.021115, -0.017146, 0.001625, 0.009329, 0.020635, 0.026788, 0.028003, 0.024922, 0.017629, 0.012372, 0.006900, -0.000833, -0.009282, -0.022310, -0.050318, -0.070191
#*# 	-0.089199, -0.065539, -0.065230, -0.049882, -0.034499, -0.018968, -0.004370, 0.002132, 0.010923, 0.016309, 0.016204, 0.018185, 0.011587, 0.009799, 0.001672, -0.007076, -0.019020, -0.036949, -0.049600, -0.075359
#*# 	-0.084055, -0.074446, -0.060695, -0.038756, -0.031707, -0.013103, -0.001016, 0.004645, 0.006151, 0.012359, 0.011703, 0.013686, 0.011464, 0.006850, -0.003322, -0.013644, -0.026528, -0.041928, -0.057177, -0.075466
#*# 	-0.077208, -0.061772, -0.050003, -0.039719, -0.018279, -0.004651, 0.005271, 0.011093, 0.014213, 0.014904, 0.016474, 0.016485, 0.010571, 0.006755, -0.002643, -0.011767, -0.026231, -0.044172, -0.062149, -0.079158
#*# 	-0.076116, -0.059004, -0.039740, -0.029132, -0.009895, 0.000220, 0.009410, 0.013406, 0.016164, 0.016238, 0.015529, 0.017680, 0.014434, 0.006631, -0.002462, -0.014631, -0.028327, -0.044687, -0.059812, -0.074146
#*# x_count = 20
#*# y_count = 20
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 290.0
#*# min_y = 30.0
#*# max_y = 290.0
