[include shell_command.cfg]
#[mcu rpi]
#serial: /tmp/klipper_host_mcu

[mcu]
serial:/dev/serial/by-id/usb-Klipper_stm32h723xx_0D0021000C51313236343430-if00   #/dev/serial/by-id/usb-Klipper_stm32f429xx_1E002F000550524B57333320-if00  
restart_method: command

[mcu nhk]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6626005A7348435-if00
restart_method: command
##--------------------------------------------------------------------

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_1EF029C5515137474C202020FF0C0627-if00
x_offset: -20 # update with offset from nozzle on your machine
y_offset: 0 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
speed: 5.
#   Z probing dive speed.
lift_speed: 5.
#   Z probing lift speed.
backlash_comp: 0.5
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
[bed_mesh]
speed: 600
horizontal_move_z: 5
mesh_min: 30, 30
mesh_max: 290,290
fade_start: 0.6
fade_end: 10.0
probe_count: 20,20
algorithm: bicubic
#relative_reference_index: 12


[printer]
kinematics: corexy
max_velocity: 400  
max_accel:40000           
max_z_velocity: 30    #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 300
max_accel_to_decel: 4000
square_corner_velocity: 10.0

[force_move]
enable_force_move: true

[auto_speed]
max_missed: 20.0       ; Maximum full steps that can be missed
settling_home: 1

[exclude_object]
[include mainsail.cfg]
[include Bedfans.cfg]
[include Nozzle_scrub.cfg]
[include Macros.cfg]
[include KAMP_Settings.cfg]
[include stealthburner_led_effects_barf.cfg]
[include K-ShakeTune/*.cfg]
[include Autotune.cfg]
[include homing.cfg]


#[safe_z_home] 
#home_xy_position: 175,175
#speed:50
#z_hop:10

[input_shaper]
shaper_freq_x: 97.6 # center frequency for the X axis filter
shaper_type_x: 2hump_ei # filter type for the X axis
shaper_freq_y: 59.6 # center frequency for the Y axis filter
shaper_type_y: ei # filter type for the Y axis
damping_ratio_x: 0.036 # damping ratio for the X axis
damping_ratio_y: 0.047 # damping ratio for the Y axis

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin:PF13
dir_pin:PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  
endstop_pin: tmc5160_stepper_x:virtual_endstop # pin PG6
position_endstop: 350
position_max: 350
homing_speed: 40   #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[stepper_x1]
step_pin:PE2
dir_pin:PE3
enable_pin:!PD4
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  
endstop_pin: tmc5160_stepper_x1:virtual_endstop # pin PG6


[tmc5160 stepper_x]
cs_pin:PC4
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG6
interpolate: false
run_current: 1.5
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT:3

[tmc5160 stepper_x1]
cs_pin:PE1
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG14
interpolate: false
run_current: 1.5
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT:3

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop # pin PG9
position_min: -1
position_endstop: 350
position_max: 350
homing_speed: 50  #Max 100
homing_retract_dist: 0
homing_positive_dir: true

[stepper_y1]
step_pin: PE6
dir_pin: PA14
enable_pin:!PE0
rotation_distance: 40
microsteps: 64
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop # pin PG9

[tmc5160 stepper_y]
cs_pin: PD11
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG9
interpolate: false
run_current: 1.5
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT: 3

[tmc5160 stepper_y1]
cs_pin: PD3
spi_software_sclk_pin: PA5
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
diag1_pin:^!PG15
interpolate: false
run_current: 1.5
#sense_resistor: 0.110
#stealthchop_threshold: 0.1
driver_SGT: 3
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128
endstop_pin: probe:z_virtual_endstop
#endstop_pin: PG10
#position_endstop: 0
##--------------------------------------------------------------------
position_max: 330

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0
 
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin:PG4
dir_pin:!PC1
enable_pin:!PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z1]
uart_pin:PC7
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 128

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: .9
hold_current: .5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

[tmc2209 extruder]
#uart_pin: can0:PB5 slysht42
tx_pin: nhk:gpio1  #can0:PA9
uart_pin: nhk:gpio0  #sb2040v2:gpio8
run_current: 0.60
sense_resistor: 0.100
stealthchop_threshold: 0
interpolate: false

[extruder]
step_pin: nhk:gpio23  #sb2040v2:gpio9
dir_pin: nhk:gpio24  #sb2040v2:gpio10
enable_pin: !nhk:gpio25  #!sb2040v2:gpio7
rotation_distance: 47.088   #22.6789511  #25.577   #Bondtech 5mm Drive Gears
gear_ratio: 9:1  #50:10               #BMG Gear Ratio
microsteps: 16
#full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.600
filament_diameter: 1.75
max_extrude_cross_section: 5
heater_pin: nhk:gpio9  #can0:PA8 flysht42
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200 
sensor_pin: nhk:gpio29
min_temp: -270
max_temp: 350
max_power: 1.0
min_extrude_temp: 40
pressure_advance: 0.03
pressure_advance_smooth_time: 0.05
#max_extrude_only_distance: 101
control = pid
pid_kp = 29.495
pid_ki = 3.121
pid_kd = 69.685

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]

heater_pin: PA3
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 1
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################

    
#####################################################################
#   Fan Control
#####################################################################

## HOT END FAN
[heater_fan hotend_fan]
#pin: can0:PB11 flysht42
pin: nhk:gpio5  #sb2040v2:gpio14
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
shutdown_speed: 1

## PART COOLING
[fan]
#pin: can0:PB10 flysht42
pin: nhk:gpio6  #sb2040v2:gpio13
kick_start_time: 0.25
cycle_time: 0.15
off_below: 0.10

[fan_generic Toolhead_fan]
pin: nhk:gpio10 #sb2040v2:gpio15
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1


#[fan_generic Electroncis_fan3]
[controller_fan controller_fan2]
##  Controller fan - FAN2
pin: PD12
max_power: .5
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PD13
max_power: .5
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1
#heater: heater_bed

[fan_generic Nevermore_fan]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
cycle_time: 0.05
hardware_pwm:true
kick_start_time:0.5
off_below: 0.1

[controller_fan controller_fan5]  TMC fan
pin: PD15
shutdown_speed: 1.0
cycle_time: 0.04
kick_start_time: 0.5
fan_speed: 0.9
idle_speed: 0.4

[temperature_sensor Chamber_sensor]
sensor_type: Generic 3950
#   One of "EPCOS 100K B57560G104F", "ATC Semitec 104GT-2",
#   "ATC Semitec 104NT-4-R025H42G", "Generic 3950",
#   "Honeywell 100K 135-104LAG-J01", "NTC 100K MGB18-104F39050L32",
#   "SliceEngineering 450", or "TDK NTCG104LH104JT1"
sensor_pin: PF7
#   Analog input pin connected to the thermistor. This parameter must
#   be provided.
pullup_resistor: 4700
#   The resistance (in ohms) of the pullup attached to the thermistor.
#   The default is 4700 ohms.
inline_resistor: 0
#   The resistance (in ohms) of an extra (not heat varying) resistor
#   that is placed inline with the thermistor. It is rare to set this.
#   The default is 0 ohms.


#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PB0
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800



[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
##  Probe points
points:
   50,40
   50,275
   300,275
   300,40

#--------------------------------------------------------------------
speed: 175
horizontal_move_z: 6
retries: 5
retry_tolerance: 0.009
max_adjust: 10

#####################################################################

[adxl345]
cs_pin: nhk:gpio21  #sb2040v2:gpio1
spi_software_sclk_pin: nhk:gpio18  #sb2040v2:gpio0
spi_software_mosi_pin: nhk:gpio20  #sb2040v2:gpio3
spi_software_miso_pin: nhk:gpio19  #sb2040v2:gpio2
axes_map: -z,-y,-x

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20  # an example for a 350mm printer

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100


#####################################################################
#   Thermistors
# #####################################################################
## External Chamber Thermistor Port
#[temperature_sensor chamber_temp]
#sensor_type: Generic 3950
#sensor_pin: nhk:gpio28
#min_temp: 0
#max_temp: 100
#gcode_id: chamber_th

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor nh_temp]
## Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nhk:gpio26
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: chamber_th

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.5107284758067068,
#*# 	  1.8485535843098349,
#*# 	  0.7387111130567974,
#*# 	  0.28613729064091387,
#*# 	  0.38735889878953383,
#*# 	  0.4412534040976776,
#*# 	  -0.2863322972245603,
#*# 	  -0.39228614345401946,
#*# 	  0.24990334384856866,
#*# 	  0.21842610329631346
#*# model_domain = 3.221255868894174e-07,3.3325753258172667e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 29.729450
#*# model_offset = -0.57000
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.007386, 0.001652, -0.001903, 0.008103, 0.013713, 0.016607, 0.019279, 0.016878, 0.017489, 0.014789, 0.013589, -0.010216
#*# 	  -0.012286, 0.002026, 0.005393, 0.010466, 0.014238, 0.019987, 0.023033, 0.016731, 0.014930, 0.014405, 0.004597, 0.001912
#*# 	  -0.013174, -0.003239, 0.004378, 0.009584, 0.013482, 0.014895, 0.016354, 0.012961, 0.008623, 0.008752, 0.000183, -0.008839
#*# 	  -0.006605, -0.003268, -0.006683, 0.003332, 0.001695, 0.015207, 0.015243, 0.012594, 0.009643, 0.007388, 0.001382, -0.008940
#*# 	  -0.007138, -0.006547, -0.009940, -0.004896, -0.007958, 0.015499, 0.019412, 0.017202, 0.015424, 0.010268, 0.006241, -0.007553
#*# 	  -0.002284, -0.008702, -0.000773, 0.003113, 0.006030, 0.016219, 0.018590, 0.017132, 0.014501, 0.008465, -0.001647, -0.014707
#*# 	  -0.005549, -0.010618, 0.002937, 0.008767, 0.015937, 0.017407, 0.019020, 0.015118, 0.015003, 0.003687, -0.000868, -0.021263
#*# 	  -0.010220, -0.009439, -0.003125, 0.005148, 0.010038, 0.020846, 0.021994, 0.018060, 0.014213, 0.005300, -0.004917, -0.015726
#*# 	  -0.004742, 0.002357, 0.008202, 0.013687, 0.018732, 0.023822, 0.022664, 0.019866, 0.012088, 0.007992, -0.000145, -0.012368
#*# 	  0.003850, 0.013585, 0.022867, 0.032855, 0.033130, 0.031119, 0.028278, 0.022642, 0.016367, 0.010079, 0.006992, -0.001453
#*# 	  0.007006, 0.013505, 0.023885, 0.033079, 0.034843, 0.032426, 0.026081, 0.019989, 0.014491, 0.009187, 0.005245, 0.003529
#*# 	  0.002162, 0.004605, 0.013024, 0.019347, 0.021401, 0.020950, 0.017347, 0.007847, 0.006143, -0.002564, -0.007058, -0.012140
#*# x_count = 12
#*# y_count = 12
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 105.0
#*# max_x = 245.0
#*# min_y = 105.0
#*# max_y = 245.0
